.container {
    background-image: url('https://images.pexels.com/photos/12914823/pexels-photo-12914823.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    color: white;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .search-bar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .search-bar select,
  .search-bar input {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  .search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .selected-destinations {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  }
  
  .plan-item {
    margin-bottom: 10px;
  }
  
  .plan-item span {
    display: block;
    margin-bottom: 5px;
  }
  
  .plan-item button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
  }