/* .container {
    position: absolute;
    top: 56%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background-color: black;
    box-sizing: border-box;
    box-shadow: o 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;

}

.container h2{
    margin: 0 0 30px;
    padding: o;
    color: #fff;
    text-align: center;
}

.user-box{
    position: relative;
}

input{
    width: 100%;
    padding: 10px o;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px ;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;   
}

label{
    color: #fff;
    position:absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px ;
    pointer-events: none;
    transition: .5s;
    
}

input:focus~label{
    top: -20px;
    left: 0;
    font-size: 12px;
    
}

input{
    padding: 4px;
    border-radius: 2px;
    outline: none;
}

.btn{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: large;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 40px;
    letter-spacing:3px transition ;

}

.btn:hover{
    background: white ;
    color: black;
} */