.travel-plan-form-container {
    background-image: url('https://img.freepik.com/premium-photo/young-people-together-planning-trip-europe-top-view-empty-white-space-notebook-where-you-time-plan-text-travel-concept_292052-1627.jpg?w=740'); /* Set the background image URL */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    min-height: 100vh; /* Set a minimum height to cover the entire viewport */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.travel-plan-form {
    background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background for the form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
}
